*{
  background-color:black;
  color:white;
  border-radius: 5px;
  font-family: 'Verdana', sans-serif;
}

#game {
  border: 2px solid white;
  padding: 2px;
  width: 75%;
  overflow: hidden;
  margin: auto;
  text-align: left;
}

.tab {
  font-size: 20px;
  background-color: #EF12FF;
  color: black;
  border-color: white;
}

.overflowTab {
  font-size: 20px;
  background-color: #90FF6E;
  color: green;
  border-color: green;
}

.researchTab {
  font-size: 20px;
  background-color: #03A1FC;
  color: blue;
  border-color: blue;
}

.replicantiTab {
  font-size: 20px;
  background-color: orange;
  color: brown;
  border-color: brown;
}

.overflowPrestige {
  background-color: #90FF6E;
  color: green;
  border-color: #90FF6E;
  width: 180px;
  height: 80px;
}

.buyable {
  color: black;
  border-color: white;
  background-color: white;
  width: 320px;
  height: 160px;
  font-size:12px;
  text-align: center;
}

.repliBuyable {
  color: brown;
  border-color: brown;
  background-color: orange;
  width: 320px;
  height: 160px;
  font-size:12px;
  text-align: center;
}

.manifold {
  color: blue;
  border-color: blue;
  background-color: black;
  width: 280px;
  height: 150px;
  font-size:12px;
  text-align: center;
}

.galaxy {
  color: magenta;
  border-color: magenta;
  background-color: black;
  width: 280px;
  height: 150px;
  font-size:10px;
  text-align: center;
}

.repliGalaxy {
  color: orange;
  border-color: orange;
  background-color: black;
  width: 280px;
  height: 150px;
  font-size:10px;
  text-align: center;
}

.basicButton {
  color: black;
  border-color: white;
  background-color: white;
  width:100px;
  height:100px;
}

.basicButton2 {
  color: black;
  border-color: white;
  background-color: white;
  width: 100px;
  height: 75px;
}

#hardReset {
  color: white;
  border-color: red;
  background-color: red;
  width:100px;
  height:100px;
}

.incrementy {
  color: magenta;
  text-shadow: 0px 0px 5px magenta;
}

.replicanti {
  color: orange;
  text-shadow: 0px 0px 5px orange;
}

.upgradeLocked {
  color: black;
  border-color: red;
  background-color: #FF7F7F;
  width: 320px;
  height: 160px;
  font-size:12px;
  text-align: center;
}

.upgradeBuyable {
  color: white;
  border-color: red;
  background-color: red;
  width: 320px;
  height: 160px;
  font-size:12px;
  text-align: center;
}

.upgradeBought {
  color: green;
  border-color: green;
  background-color: lime;
  width: 320px;
  height: 160px;
  font-size:12px;
  text-align: center;
}

.ach{
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #888888;      
}
.achdone{
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #008800;      
}

.autobuyer{
  width: 280px;
  height: 120px;
  text-align: center;
  background-color: #880088;      
}
.autobuyerturn{
  width: 280px;
  height: 30px;
  text-align: center;
  background-color: #440044;      
}

.autobuyerturn2 {
  text-align: center;
  background-color: #440044;
}

.singDoubler {
  background-color: black;
  width: 240px;
  height: 150px;
  font-size:12px;
  text-align: center;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  0% {
    border-color: red;
  }
  15% {
    border-color: orange;
  }
  25% {
    border-color: yellow;
  }
  40% {
    border-color: lime;
  }
  55% {
    border-color: cyan;
  }
  70% {
    border-color: blue;
  }
  80% {
    border-color: purple;
  }
  90% {
    border-color: magenta;
  }
  100% {
    border-color: red;
  }
}

.ouBuyable {
  color: black;
  border-color: lime;
  background-color: lime;
  width: 320px;
  height: 160px;
  font-size:12px;
  text-align: center;
}
.ouBought {
  color: green;
  border-color: green;
  background-color: #90FF6E;
  width: 320px;
  height: 160px;
  font-size:12px;
  text-align: center;
}
.research {
  color: white;
  border-color: #884444;
  background-color: #804040;
  width: 240px;
  height: 150px;
  font-size:12px;
  text-align: center;
}
.research2 {
  color: white;
  border-color: #ff8888;
  background-color: #f08080;
  width: 240px;
  height: 150px;
  font-size:12px;
  text-align: center;
}
.research3 {
  color: black;
  border-color: #88ff88;
  background-color: #80f080;
  width: 240px;
  height: 150px;
  font-size:12px;
  text-align: center;
}

.verticalCenter {
  text-align: center;
}